main.container {
    max-width: 1200px;
}

#content :is(h1,h2,h3) {
    margin-top: 1.75rem;
}

#content hr {
    margin: 2rem 0;
}

#status {
    margin-top: 1rem;
}

.muted {
    opacity: 0.75;
}

#content pre {
    padding: 1rem;
    overflow: auto;
}
