html {
	scroll-behavior: smooth
}

header {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 6rem
}

#header-logo {
	max-width: 20rem;
	margin-bottom: 1rem
}

section {
	scroll-margin-top: 3.5rem /* Don't want to hide section headers with the navigation bar when we scroll to them. */
}

footer p {
	font-size: 0.7rem
}


/********** NAVIGATION BAR **********/
nav {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--pico-secondary);
	border-bottom: 1px solid var(--pico-muted-border-color, #ccc);
	padding: 0.75rem 1rem;
	display: flex; 
	justify-content: space-between; 
	align-items: center
}

.nav-left, .nav-center, .nav-right {
	display: flex;
	align-items: center;
	gap: 1rem
}

	/* ----- Nav bar left secion. ----- */
	.nav-left a {
		font-size: 0.9rem;
		text-decoration: none;
		transition: color 0.3s ease-in-out;
	}

	.nav-left a:hover {
		color: var(--pico-contrast);
		transform: scale(1.05);
	}

	.nav-left img {
		height: 2rem;
		max-width: none;
		padding-right: 1rem
	}

	/* TODO: Adjust max-width after all the sections get added. */
	@media (max-width: 768px) {
		.nav-left a[href^="#"]:not([href="#home"]) {
			display: none;
		}
	}

	/* ----- Nav bar right secion. ----- */
	.nav-right {
		margin-left: 1em;
		margin-top: -0.25rem
	}

	.nav-right svg {
		width: 1em;
		fill: currentColor;
		transition: transform 0.6s ease-in-out
	}

	.nav-right a:hover svg {
		transform: rotate(360deg)
	}

	#nav-theme-btn svg {
		display: inline-block;
		height: 1em;
		width: auto;
		vertical-align: middle;
		fill: currentColor
	}